In [1]:
import pandas as pd
import numpy as np

In [2]:
from rake_nltk import Rake

In [162]:
from random import randint

In [3]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [168]:
df_main = pd.read_csv('./Program list.csv')

In [169]:
df = df_main.copy()

In [170]:
df.head()

,Program Name,Dept/Domain,Timing,Program Info
0,Big Data,Computer Science and Engineering Information T...,01:10,Big Data is also data but with a huge size. Bi...
1,Data Science,Computer Science and Engineering Information T...,02:30,"Data science is a ""concept to unify statistics..."
2,Extract Tranform Load,Computer Science and Engineering Information T...,05:15,"In computing, extract, transform, load is the ..."
3,Extract Load Tranform,Computer Science and Engineering Information T...,02:00,"ELT is an alternative to extract, transform, l..."
4,Accounting,Finance,09:00,Accounting is the process of recording financi...

In [171]:
def concatenate_list(list):
    result= ''
    for element in list:
        result += ' ' + str(element)
    return result

In [172]:
# initializing the new column
df['Key_words'] = ""

for index, row in df.iterrows():
#     print(row)
#     print(index)
    plot = str(row['Program Info'])
    
    # instantiating Rake, by default it uses english stopwords from NLTK
    # and discards all puntuation characters as well
    r = Rake()

    # extracting the words by passing the text
    r.extract_keywords_from_text(plot)

    # getting the dictionary whith key words as keys and their scores as values
    key_words_dict_scores = r.get_word_degrees()
    
    # assigning the key words to the new column for the corresponding movie
    row['Key_words'] = concatenate_list(list(key_words_dict_scores.keys()))
    
# dropping the Plot column
df.drop(columns = ['Program Info'], inplace = True)

In [173]:
df['Key_words'][0]

' complex store describe yet growing exponentially term used collection huge size process large able traditional data management tools big time efficiently also short none'

In [174]:
df.drop(columns = ['Timing'], inplace = True)

In [175]:
df.head()

,Program Name,Dept/Domain,Key_words
0,Big Data,Computer Science and Engineering Information T...,complex store describe yet growing exponentia...
1,Data Science,Computer Science and Engineering Information T...,unify statistics order concept employs techni...
2,Extract Tranform Load,Computer Science and Engineering Information T...,sources computing one destination system load...
3,Extract Load Tranform,Computer Science and Engineering Information T...,etl entry alternative data lake implementatio...
4,Accounting,Finance,reporting transactions recording financial pe...

In [176]:
df['desc'] = df[['Dept/Domain', 'Key_words']].apply(lambda x: ''.join(x.map(str)).lower(), axis=1)

In [177]:
df.head()

,Program Name,Dept/Domain,Key_words,desc
0,Big Data,Computer Science and Engineering Information T...,complex store describe yet growing exponentia...,computer science and engineering information t...
1,Data Science,Computer Science and Engineering Information T...,unify statistics order concept employs techni...,computer science and engineering information t...
2,Extract Tranform Load,Computer Science and Engineering Information T...,sources computing one destination system load...,computer science and engineering information t...
3,Extract Load Tranform,Computer Science and Engineering Information T...,etl entry alternative data lake implementatio...,computer science and engineering information t...
4,Accounting,Finance,reporting transactions recording financial pe...,finance reporting transactions recording finan...

In [178]:
df['desc'][1]

'computer science and engineering information technology all unify statistics order concept employs techniques many fields within context mathematics understand information science theories drawn related methods machine learning computer data analysis analyze actual phenomena'

In [179]:
df['Program Name'] = df['Program Name'].apply(lambda x: str(x).lower())

In [180]:
df3 = df.copy().drop(['Dept/Domain', 'Key_words'], axis=1)

In [181]:
# df2 = df.copy().drop(['Dept/Domain', 'Key_words'], axis=1)

In [182]:
df3.set_index(['Program Name'], inplace=True)

In [183]:
df3.head()

                                                                    desc
Program Name
big data               computer science and engineering information t...
data science           computer science and engineering information t...
extract tranform load  computer science and engineering information t...
extract load tranform  computer science and engineering information t...
accounting             finance reporting transactions recording finan...

In [184]:
# instantiating and generating the count matrix
count = CountVectorizer()
count_matrix = count.fit_transform(df3['desc'])

# generating the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [185]:
# creating a Series for the movie titles so they are associated to an ordered numerical
# list I will use in the function to match the indexes
indices = pd.Series(df3.index)
# print(indices)
descs = pd.Series(df3['desc'])

#  defining the function that takes in movie title 
# as input and returns the top 10 recommended movies
def get_recommendation(title, cosine_sim = cosine_sim):
    
    # initializing the empty list of recommendations
    recommendations = []
    target = False
    
    # gettin the index
    for i in indices:
        if title in i:
            target = i
    
    if target:
        idx = indices[indices == target].index[0]
        recommendations.append(target)
    else:
        idx = randint(0, len(indices))
        
    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    
    # populating the list with the titles of the best 10 matching movies
    
    for i in top_10_indexes:
        recommendations.append(list(df3.index)[i])
        
    return recommendations

In [190]:
def main():
    query = input()
    print(get_recommendation(query))

In [192]:
main()

data
['data structure', 'array', 'natural language processing', 'cloud computing', 'data science', 'operating system', 'algorithm', 'c programming language', 'pascal programming language', 'extract load tranform', 'big data']